<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

    <body>

        <a href="/login/sair"><h5>Sair</h5></a>

        <div class="mb-3">
            <form th:action="@{/contatosParametro}">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" th:name="nome" placeholder="Insira o Nome">
                <button type="submit" class="btn btn-primary">Pesquisar</button>            
            </form>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
               <tr th:each="contato : ${contatos}">
                    <td th:text="${contato.nome}"></td>
                    <td th:text="${contato.email}"></td>
                    <td><a th:href="@{'/editarContato?email=' + ${contato.email}}">Editar</a></td>
                    <td><a th:href="@{'/excluirContato?email=' + ${contato.email}}">Excluir</a></td>
               </tr>
            </tbody>
          </table>

          <form method="POST" action="contatos" th:object="${contato}">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Endereço de Email</label>
                <input type="email" th:field="*{email}" class="form-control" th:disabled="${edit == true}" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Não compartilhamos seu email com ninguém.</div>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nome</label>
                <input type="text" class="form-control" th:field="*{nome}" name="nome" placeholder="Insira o Nome">
            </div>
            
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        
    </body>

</html>