<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/layout.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="/login/entrar">
            <input type="text" id="usuario" name="usuario" required placeholder="Usuário">
            <input type="password" id="senha" name="senha" required placeholder="senha">

            <button type="submit" id="btnLogin">Entrar</button>
            <h6 th:text="${mensagem}"> </h6>
        </form>

        <p><a href="cadastro.html" class="signup-link">Ainda não tem cadastro? Clique aqui para se cadastrar.</a></p>
    </div>
    <script src="js/index.js"></script>
</body>
</html>